@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
header {
  text-align: center;
}

.main-container {
  width: 50em;
  /* background: yellow; */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.button-container button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.button-container button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
.button-container button:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

.taskShower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-inline: 1rem;
  margin-block: 0.625rem;
  border-radius: 0.625rem;
}

.taskActions span {
  /* border: 1px solid black; */
  cursor: pointer;
  /* margin: 0.625rem; */
  padding: 0.625rem;
  background-color: #eeeeee;
  border-radius: 5px;
}
.taskActions span:first-child {
  margin: 0.625rem;
}

.taskHandler {
  display: block;
  background-color: #ecedf6;
  /* padding: 1rem; */
  margin-block: 0.625rem;
  border-radius: 0.625rem;
}
.addTaskHide {
  display: none;
}

.addTaskShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  /* opacity: 0; */
  transition: opacity .2s ease;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.paddingAdd {
  padding: 1rem;
}
.addTaskShow input[type="text"] {
  margin: 1rem;
  border: px solid black;
}

.editShow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}
.editTask {
  display: none;
}

.container {
  /* background-color: yellow; */
  background-color: #ffff;
  width: 50%;
  height: 20%;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}

#wtf {
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px; 
}

.container button {
  margin-block: 1rem;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color .17s ease,color .17s ease;
 
}

.container button:hover {
  background-color: rgb(71, 82, 196);
}


#wtf:focus{
  border: 3px solid #5551ff;
}


.taskMaker {
  width: 50%;
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all .2s ease;  
}

.taskMaker:hover{
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}
.taskMaker:focus{
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

.divButtons button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;  
}

.divButtons button:hover{
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}


.addDiv {
  width: 50%;
  height: 20%;
  background: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newTaskHeader {
  color: #ffff;
}